.hidden{
    display: none;
}

header{
    .row{
        padding: 10px;
        background-color: #485C7B;
        color: white;
        .btn{
            margin-left: 10px;
        }
    }
}

#employeeForm{
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 38%;
    width: 400px;
    box-shadow: 0px 0px 30px 0 rgb(182, 182, 182);
    color: #485C7B;
    .btn{
        span{
            display: block;
        }
    }
    .formBody{
        .employeeInput{
            outline: none;
            display: block;
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid rgb(197, 198, 199);
            border-radius: 5px;
            height: 35px;
            padding:0 10px;
        }
        #addressInput{
            resize: none;
            overflow: scroll;
            height: 70px;
            padding-top: 5px;
        }
        .employeeLabel{
            margin-bottom: 5px;
            font-size: 0.9em;
        }
    }
    .row{
        padding: 20px;
    }
    .title{
        #closeForm{
            background-color: inherit;
            border: none;
            outline: none;
            font-size: 2em;
            svg{
                color: rgb(197, 198, 199);
                &:hover{
                    color: rgb(179, 180, 180);
                }
                &:active{
                    color: rgb(168, 169, 170);
                }
            }
        }
        #addEmployee{
            background-color: inherit;
            border: none;
            outline: none;
            font-size: 2em;
            svg{
                color: rgb(197, 198, 199);
                &:hover{
                    color: rgb(179, 180, 180);
                }
                &:active{
                    color: rgb(168, 169, 170);
                }
            }
        }
    }
    .employeeFormFooter{
        background-color: #EDF0F1;
        .btn-light{
            border: 1px solid grey;
        }
        .btn{
            margin-left: 10px;
            
        }
    }
}

.mainContent{
    .row{
        padding: 0 15px;
        color: #485C7B;
        #userDataTable{
            width: 100%;
            .tableTitles{
                border-bottom-width: 4px;
            }
            tr{
                border-bottom: 1px solid #E9E9E9;
            }
            th{
                height: 80px;
                padding: 10px;
                &:last-child{
                    width: 10%;
                }
            }
            td{
                padding: 10px;
                height: 70px;
            }
        }
        .userButtonsArea{
            position: relative;
        }
        .editBtn{
            color: #F7CA57;
            background-color: inherit;
            border: none;
            outline: none;
            &:hover{
                color: rgb(250, 194, 51);
                &::after{
                    content: attr(data-title);
                    position: absolute;
                    color: white;
                    background-color: black;
                    font-size: 0.8em;
                    padding: 3px;
                    border-radius: 3px;
                    top: -8px;
                    left: 10px;
                }
                &:active{
                    color: rgb(250, 182, 10);
                }
            }
        }
        .deleteBtn{
            color: #E56355;
            background-color: inherit;
            border: none;
            outline: none;
            &:hover{
                color: rgb(226, 62, 44);
                &::after{
                    content: attr(data-title);
                    position: absolute;
                    color: white;
                    background-color: black;
                    font-size: 0.8em;
                    padding: 3px;
                    border-radius: 3px;
                    top: -8px;
                    left: 32px;
                }
                &:active{
                    color: rgb(226, 28, 6);
                }
            }
        }
    }
}